body {
    background-color: deeppink;
}

#hub {
    width: 1000px;
    height: 300px;
    border: solid black 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
}

#spill {
    display: flex;
    border: solid black 2px;
    width: 180px;
    height: 280px;
}