body {
    background-color: burlywood;
}

div.maur {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 5px;
    background-color: crimson;
    opacity: 1;
}

#game {
    position: relative;
    width: 500px;
    height: 500px;
    border: solid black 1px;
}

#fing {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: darkcyan;
    border-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}