body {
    background-color: whitesmoke;
}

#grad {
    position: absolute;
    top: 30px;
    left: 500px;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: serif;
    background-image: linear-gradient(to right, black, aqua, black);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: solid black 4px;
    border-radius: 20px;
    box-shadow: 10px 10px 4px gray;
}

h1 {
    position: relative;
    top: 120px;
    font-size: 50px;
    font-family: monospace;
    color: black;
}

article {
    position: relative;
    top: 120px;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: solid black 2px;
}

ul {
    position: relative;
    top: 120px;
    width: 700px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: solid black 2px;
}

#virus {
    position: absolute;
    top: 380px;
    left: 900px;
    border-radius: 20px;
    box-shadow: 15px 15px 4px gray;
}

#tyv {
    position: absolute;
    width: 97px;
    height: 150px;
    top: 194px;
    left: -150px;
    background-image: url(../bilder/Tyv.png);
    background-position: 8px;
    animation: tyv 8s infinite linear,
        run 0.5s infinite steps(6);
}

@keyframes tyv {
    100%{left: 110%;}
}

@keyframes run {
    100% {background-position: 600px;}
}

a {
    position: absolute;
    top: 700px;
}