body {
    background-color: whitesmoke;
}

article {
    position: absolute;
    width: 500px;
}

#hovedkort {
    position: absolute;
    top: 90px;
    left: 510px;
    width: 20%;
}

#cpu {
    position: relative;
    left: 510px;
    width: 20%;
   
}

#ram {
    position: relative;
    width: 25%;
    left: 510px;
}

#ssd {
    position: relative;
    width: 20%;
    left: 510px;
}

#mus {
    position: absolute;
    width: 30%;
    left: 510px;
    top: 70px;
}

#tastatur {
    position: absolute;
    width: 40%;
    left: 510px;
    top: 250px;
}

#skjerm {
    position: absolute;
    width: 30%;
    left: 510px;
    top: 430px;
}

#nettverk {
    position: absolute;
    width: 30%;
    left: 510px;
    top: 600px;
}

footer {
    position: absolute;
    top: 1800px;
    font-size: 200%;
    right: 20px;
}