body {
    background-color: black;
}

#space {
    position: relative;
    background-color: darkblue;
    background-image: linear-gradient(darkblue, blue);
    height: 90vh;
}

#ground {
    background-color: brown;
    height: 10vh;
}

#spacex {
    position: absolute;
    height: 250px;
    top: -200px;
    left: calc(50vw - 20px);
    width: 40px;
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 5px;
    animation: landing 5s ease-out forwards;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

@keyframes landing {
    100% {top: calc(90vh - 250px);}
}

#spacex::after {
    display: block;
    content: "";
    width: 30px;
    height: 15px;
    background-color: grey;
    border: solid grey 1px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: -30px;
    transform: rotate(15deg);
    animation: pad2 1s 3s linear forwards;
}

@keyframes pad2 {
    100% {transform: rotate(90deg); right: -7px;}
}

#spacex::before {
    display: block;
    content: "";
    width: 30px;
    height: 15px;
    background-color: grey;
    border: solid grey 1px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: -30px;
    transform: rotate(-15deg);
    animation: pad1 1s 3s linear forwards;
}

@keyframes pad1 {
    100% {transform: rotate(-90deg); left: -7px;}
}

#flamme {
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 80px;
    background-color: red;
    border-radius: 15px;
    bottom: -80px;
    left: 0px;
    animation: burn 4.5s 0.5s linear;
}

@keyframes burn {
    10% {opacity: 0.6; height: 80px; bottom: -80px;}
    50% {opacity: 1; height: 80px; bottom: -80px;}
    90% {opacity: 0.6; height: 10px; bottom: -10px;}
    100% {opacity: 0; height: 10px; bottom: -10px;}
}

#spacetxt {
    position: absolute;
    transform: rotate(-90deg);
    top: 80px;
    left: -27px;
    font-size: 30px;
}

.fot {
    position: absolute;
    width: 5px;
    height: 90px;
    background-color: black;
    border-radius: 5px;
    bottom: 60px;
}

#venstre {
    left: -5px;
    animation: venstre 1s 3s ease-in forwards;
}

#hoyre {
    right: -5px;
    animation: hoyre 1s 3s ease-in forwards;
}

@keyframes venstre {
    100% {transform-origin: bottom; transform: rotate(-130deg);}
}

@keyframes hoyre {
    100% {transform-origin: bottom; transform: rotate(130deg);}
}