
body{
    background-color: whitesmoke;
    background-image: url(Jul.jpg);
    background-size: cover;
    background-position: center;
}

#grad {
    position: absolute;
    top: 30px;
    left: 355px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 180%;
    font-family: serif;
    background-image: linear-gradient(to right, red, orange, red);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: solid 5px;
    border-style: dashed;
    border-radius: 20px;
}

#ytre {
    background-image: url(Julekalender.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 900px;
    height: 600px;
    top: 150px;
    left: 258px;
    border: solid black 3px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

#luker {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 260%;
    height: 100%;
}

.luke {
    border: solid black 1px;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    color: red;
    font-size: 30px;
    text-shadow: 2px 2px 2px black, 0 0 25px blue, 0 0 10px darkblue;
}

#vis {
    width: 500px;
    height: 500px;
    display: none;
    position: absolute;
    background-size: cover;
    top: 10em;
    left: 450px;
}